<div class="row">
<div class="span6">
  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3> Today's Stats</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <div class="widget big-stats-container">
		<div class="widget-content" ng-controller="todaysStatsController">
		  <h6 class="bigstats">A fully responsive premium quality admin template built on Twitter Bootstrap.  These are some dummy lines to fill the area.</h6>
		  <div id="big_stats" class="cf" ng-show="data.success">
			<div class="stat"> <i class="icon-anchor"></i> <span class="value">{{data.response.stats}}</span> </div>
			<!-- .stat -->
			
			<div class="stat"> <i class="icon-thumbs-up-alt"></i> <span class="value">{{data.response.likes}}</span> </div>
			<!-- .stat -->
			
			<div class="stat"> <i class="icon-twitter-sign"></i> <span class="value">{{data.response.twitter}}</span> </div>
			<!-- .stat -->
			
			<div class="stat"> <i class="icon-bullhorn"></i> <span class="value">{{data.response.announcements}}%</span> </div>
			<!-- .stat --> 
		  </div>
		  <div ng-show="data.error" class="alert">
					<strong>Error!</strong> {{data.errorMsg}}
		  </div>
		</div>
		<!-- /widget-content --> 
		
	  </div>
	</div>
  </div>
   <!-- /widget -->
   
		  
  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3> Recent News</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content" ng-controller="recentNewsController">
	  <ul class="news-items" ng-show="data.success">
		<li ng-repeat="recentNews in data.response">
		  
		  <div class="news-item-date"> <span class="news-item-day">{{recentNews.date}}</span> <span class="news-item-month">{{recentNews.month}}</span> </div>
		  <div class="news-item-detail"> <a href="javascript:;" class="news-item-title">{{recentNews.title}}</a>
			<p class="news-item-preview">{{recentNews.description}}</p>
		  </div>
		  
		</li>		
	  </ul>
	  <div ng-show="data.error" class="alert">
		<strong>Error!</strong> {{data.errorMsg}}
	  </div>
	</div>
	<!-- /widget-content --> 
  </div>
  <!-- /widget -->
</div>
<!-- /span6 -->
<div class="span6">
  <div class="widget">
	<div class="widget-header"> <i class="icon-bookmark"></i>
	  <h3>Important Shortcuts</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <div class="shortcuts"> <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
								class="shortcut-label">Apps</span> </a><a href="javascript:;" class="shortcut"><i
									class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Bookmarks</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Reports</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
										class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
											class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a> </div>
	  <!-- /shortcuts --> 
	</div>
	<!-- /widget-content --> 
  </div>
  <!-- /widget -->
  
  <div class="widget widget-table action-table">
	<div class="widget-header"> <i class="icon-th-list"></i>
	  <h3>Customers</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content" ng-controller="getLastFiveCustomersController">
	  <table class="table table-striped table-bordered">
		<thead>
		  <tr>
			<th> First Name </th>
			<th> Last Name</th>
			<th> Email </th>
			<th class="td-actions"> </th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-show="data.success" ng-repeat="customer in data.response">
			<td> {{customer.first_name}} </td>
			<td> {{customer.last_name}} </td>
			<td> {{customer.email}} </td>
			<td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
		  </tr>
		  <tr ng-show="data.error">
			<td colspan="4"> 
				<div class="alert">
					<strong>Error!</strong> {{data.errorMsg}}
				</div>
			</td>
		  </tr>
		
		</tbody>
	  </table>
	</div>
	<!-- /widget-content --> 
  </div>
  <!-- /widget --> 

  
</div>
<!-- /span6 --> 
</div>
<!-- /row --> 