<div class="row">
<div class="span12">
  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3> Add Customer</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <div class="widget big-stats-container">
		<div class="widget-content" style="padding:10px;" ng-controller="addCustomerController">
		
		  <div>
		  
				<form id="edit-profile" novalidate name="addCustomerForm" autocomplete="off" class="form-horizontal">
					<fieldset>
						
						<div class="control-group">											
							<label class="control-label" for="username">Username</label>
							<div class="controls">
								<input type="text" class="span4 disabled" id="username" value="john.smith" disabled>
								<p class="help-block">Your username is for logging in and cannot be changed.</p>
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						
						<div class="control-group">											
							<label class="control-label" for="firstname">First Name<sup>*</sup></label>
							<div class="controls">
								<input class="span4" name="firstname" placeholder="First Name" ng-model="customer.first_name" 
			  validator="required" required-error-message="First Name is required" valid-method="watch" />	
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						
						<div class="control-group">											
							<label class="control-label" for="lastname">Last Name<sup>*</sup></label>
							<div class="controls">
								<input class="span4" name="lastname" placeholder="Last Name" ng-model="customer.last_name" 
			  validator="required" required-error-message="Last Name is required" valid-method="watch" />
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						
						<div class="control-group">											
							<label class="control-label" for="email">Email Address<sup>*</sup></label>
							<div class="controls">
								<input class="span4" name="email" placeholder="Email" ng-model="customer.email" 
			  validator="required, email" required-error-message="Email is required" email-error-message="Invalid email address" valid-method="watch" />
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						<div class="control-group">											
							<label class="control-label" for="phone">Phone<sup>*</sup></label>
							<div class="controls">
								<input class="span4" name="phone" placeholder="Phone" ng-model="customer.phone" 
			  validator="required" required-error-message="Phone is required" valid-method="watch" />
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						<div class="control-group">											
							<label class="control-label" for="bio">Bio</label>
							<div class="controls">
								<textarea class="span4" name="bio" placeholder="Bio" ng-model="customer.bio" />
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						<div class="control-group">											
							<label class="control-label" for="Country">Country<sup>*</sup></label>
							<div class="controls">
								<select class="span4" name="country" ng-model="customer.country" 
			  validator="required" required-error-message="Country is required" valid-method="watch">
								<option value="">Select Country</option>
								<option value="United States">United States</option>
								<option value="United Kingdom">United Kingdom</option>
								<option value="India">India</option>
								<option value="Australia">Australia</option>
								</select>
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
							
						<div class="form-actions">
							<button type="button" class="btn btn-primary" validation-submit="addCustomerForm" ng-click="addCustomer()">Save</button> 
							<button ng-click="cancel()" class="btn">Cancel</button>
						</div> <!-- /form-actions -->
					</fieldset>
				</form>
											
		  </div>
		
		</div>
		<!-- /widget-content --> 
		
	  </div>
	</div>
  </div>
   <!-- /widget -->
 </div>  

</div>
<!-- /row --> 