<div>

		<fieldset>
			
			<div class="control-group">											
				<label class="control-label" for="firstname">First Name</label>
				<div class="controls">
					{{viewCustomer.first_name}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					{{viewCustomer.last_name}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					{{viewCustomer.email}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="phone">Phone</label>
				<div class="controls">
					{{viewCustomer.phone}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="bio">Bio</label>
				<div class="controls">
					{{viewCustomer.bio}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="Country">Country</label>
				<div class="controls">
					{{viewCustomer.country}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->

		</fieldset>
								
</div>
